// Правый блок
.sign-up-right {
  overflow: hidden;
  position: relative;
  padding: 40px 22px 33px 21px;
  background-color: $form-bg-color;

  // Фоновая картинка пользователя
  &__background-img {
    position: absolute;
    left: 41.856%;
    bottom: -11.642%;
    height: 411px;
    width: 411px;
  }

  // Верхняя часть с текстом
  &__top {
    
    &-title {
      font-family: $main-font;
      font-size: 22px;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: -0.39px;
      color: $normal-text-color;
    }

    &-text {
      font-family: $main-font;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: -0.32px;
      color: $normal-text-color;
    }
  }
}