// Правый блок
.sign-up-right {
  overflow: hidden;
  position: relative;
  padding: 40px 22px 33px 21px;
  background-color: $form-bg-color;

  // Фоновая картинка пользователя
  &__background-img {
    position: absolute;
    left: 41.856%;
    bottom: -11.642%;
    height: 411px;
    width: 411px;
  }

  // Верхняя часть с текстом
  &__top {
    
    &-title {
      font-family: $main-font;
      font-size: 22px;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: -0.39px;
      color: $normal-text-color;
    }

    &-text {
      font-family: $main-font;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: -0.32px;
      color: $normal-text-color;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 347px;
    margin-top: 19px;
    row-gap: 25px;
    
    // Основные поля для регистрации
    .registration {
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 16px 1.135%;
      max-width: 485px;
  
      // Обёртка для полей
      &__field {
        flex-basis: 48.865%;
        min-width: 188px;
        min-height: 42px;
        background-image: linear-gradient(0deg, $field-dash-color 1px, transparent 1px);

        @media (max-width: 586px) {
          flex-basis: 100%;
        }
        
        // Лейбл с описанием поля
        &-label {
          font-family: $main-font;
          font-size: 12px;
          font-weight: 300;
          line-height: 14px;
          color: $light-text-color;
        }
  
        // Текстовые поля (text, email, password)
        &-input {
          width: 100%;
          padding: 5px 0;
          font-family: $main-font;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 0.05px;
          color: $normal-text-color;
        }
  
        // Селект для выбора национальности
        &-select {
          width: 100%;
        }
  
        // Блок селектов дня рождения
        .birthday {
          display: flex;
          justify-content: space-between;
          column-gap: 10px;
  
          &__select--day {
            flex-basis: 56px;
          }
  
          &__select--month {
            flex-basis: 91px;
          }
  
          &__select--year {
            flex-basis: 70px;
          }
        }
  
        // Блок выбора пола
        .gender {
          display: flex;
          column-gap: 19px;
          padding: 5px 0 4px;
  
          &__radio {
            display: flex;
            align-items: center;
            column-gap: 6px;
              
            &-label {
              font-family: $main-font;
              font-size: 14px;
              line-height: 16px;
              color: $normal-text-color;
            }
          }
        }
      }
    }

    // Нижняя часть формы
    .form-bottom {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      gap: 15px;

      // Блок с текстом и ссылкой
      &__block {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 5px;

        &-text,
        &-link {
          font-family: $main-font;
          font-size: 13px;
          line-height: 15px;
        }

        &-text {
          font-weight: 300;
          color: $black-text-color;
        }

        &-link {
          margin-left: 4px;
          color: $base-color;
        }
      }

      // Кнопка submit
      &__button {
        flex-shrink: 0;
        width: 154px;
        height: 32px;
      }
    }
  }

  &__registered {
    position: absolute;
    top: 50%;
    left: 64px;
    margin-top: 3px;
    transform: translateY(-50%);

    &-title {
      font-family: $main-font;
      font-size: 22px;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: -0.44px;
      color: $normal-text-color;
    }

    &-text {
      margin-top: 10px;
      font-family: $main-font;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: -0.36px;
      color: $normal-text-color;
    }
  }
}